In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire as a
import prepare as prep

In [2]:
# nltk.download('wordnet')

In [3]:
# df = a.all_codeup_blogs()

In [4]:
# df.to_csv('codeup_blogs.csv')

In [5]:
df = pd.read_csv('codeup_blogs.csv')

In [6]:
df = df.reset_index(drop=True).drop(columns='Unnamed: 0')

df.head()

,title,body
0,The Best Path to a Career in Data Science,"In our blog, “The Best Path To A Career In Sof..."
1,"Hey Dallas, Meet Your Software Development Men...","We may be new to town here in Dallas, but Code..."
2,5 Tools Every Programmer Should Use,5 Tools Every Programmer Should Use\nEvery tra...
3,How I Went From Codeup to Business Owner,"Out of college, I was a bit of a mess. That’s ..."
4,How Codeup Paid Off for Both Employee and Empl...,"After graduating from Codeup in 2016, Stan H. ..."

In [7]:
df.shape

(90, 2)

# 1. Define a function named ```basic_clean```. It should take in a string and apply some basic text cleaning to it:

### - Lowercase everything
### - Normalize unicode characters
### - Replace anything that is not a letter, number, whitespace or a single quote.

In [47]:
string = df.body[0]
string

'In our blog, “The Best Path To A Career In Software Development,” we looked at how bootcamps provide a more direct path to a career than traditional undergraduate CS degree programs. Today we’re here to talk to you about how bootcamps provide a more direct path to a career in data science than a Master’s Degree.\xa0\n“But don’t I need a degree to get a job as a data scientist?” As a non-traditional educational model, we hear this concern a lot. The answer is yes and no. Yes, because most jobs in data science require some form of higher education. No, because that degree doesn’t have to be in something related to data science – data scientists have degrees in many different areas of study! So if the concern that lacking a piece of paper will prevent you from accelerating your career, fear no more.\nWhile a Master’s Degree provides a lot of value, it isn’t the most direct path for a job. With the exponential growth in data generation and the race to keep up with storing and processing that data, data science no longer sits at the fringe of an ultra-specialized workforce. Companies now need much larger teams to analyze, model, and leverage the data they’ve collected. So while the field of data science might have once only been available to those skilled in highly academic algorithm development, it’s now a playground for those with some Python skills who know how to find valuable insights in a mess of data.\xa0\n\xa0\nNow let’s get a bit more specific. If modern roles in data science demand more practical skills, why is a bootcamp a better path?\n\xa0\n#1: Responsive curriculum: Barely 10 years ago nobody had heard of data science. But in that short amount of time, the tools and technologies in the field have grown exponentially. Each year sees the introduction of new packages, visualization tools, and cutting edge technologies. With such a rapidly evolving landscape, it’s hard for traditional learning environments to keep pace. With our ears tuned directly to employers, we’re able to adapt quickly and ensure we’re teaching what hiring managers need.\n\xa0\n#2 Hands-on Project-Based Learning: Have you ever watched Top Chef or The Great British Bake Off? You were probably pretty entertained, but how did that seared Ahi Tuna with orange mint avocado salsa and balsamic vinegar reduced amuse-bouche turn out? The sad reality is, watching experts do their thing doesn’t make you an expert. Nor does listening to lectures. Our program is built around the concept of praxis, which is essentially the practical application of theory, or the blending of theory and practice. Half of your 670 program hours are spent actually writing code, so you develop the muscle memory and experience of programming. A career in data science is like an old-time trade, like becoming a blacksmith: you have to learn from masters and practice, practice, practice.\xa0\n\xa0\n#3 Progressive Curriculum Structure: In a traditional degree, students study by taking several classes at a time. You may begin with data structures and algorithms, then move to SQL, then take Python, and so on. But real-world data science doesn’t work so neatly. You will never face a project where you’re only working with one of those tools, so this pedagogical method is misaligned with career demands. Our program focuses on real-world deliverables at every step of the journey, while exposing you to increasingly complex problems and projects. You start off applying basic tools to simple challenges. Then, we begin varying the data sets, the way you access that data, the type of methodology you use, and the deliverable you’re responsible for. To put it simply, the structure of a traditional degree teaches you how to use a hammer, a saw, and a chisel. Codeup teaches you how to build a stool, a birdbox, and a sculpture with those tools, and when to use which.\xa0\n\xa0\n#4 Job Placement Services: If education is your goal, stop reading now. If a career is your goal, then you’re in the right place. Most graduate institutions have career service offices where you can get advice on your resume and attend job fairs. But Codeup makes you a promise: get a job after graduation or get 100% of your money back. There are no two ways about that: our singular focus is your outcome. Unlike traditional institutions, we sell jobs, not education.\xa0\n\xa0\n#5 Messy Data: This is probably the most important difference between us and traditional degrees. We use real, messy, misleading, broken data so you learn how to draw insights from the real thing. Unfortunately, that is not the norm. Because of the segmented class structure, traditional degrees have to focus on using data that teach one specific skill. At Codeup, you’re always applying your tools to a real deliverable, so we’re able to use real data sets that intersect the challenges of multiple skills.\xa0\n\xa0\nLastly, we encourage you to think about the return on your investment in your education.\n\n\n\nCodeup*\nPrivate Master’s\n\n\n\n\n$29,500\n6 months\n85% graduation rate\n88%\xa0 employment rate\n$67,500 median starting salary\n\n\n\n\n$62,280\n18-24 months\n61% graduation rate\n72.5% employment rate\n$59,866 median starting salary\n\n\n\n\n\n*read more on our outcomes\n\xa0\nMost importantly, the opportunity cost of pursuing a master’s degree is equal to 13-19 months of employment. At a median salary of $67,500 from Codeup, that’s between $67,500-$101,250 in foregone earnings.\xa0\nSo, you want a career in data science? A career accelerator like Codeup is the path for you. Still not convinced? We’re here to hear your concerns – contact us and let’s talk it through.\n\n'

In [9]:
# # lowercase all text
# string = string.lower()

In [10]:
# # normalize text by removing special characters 
# string = unicodedata.normalize('NFKD', string)\
#     .encode('ascii', 'ignore')\
#     .decode('utf-8', 'ignore')

# string

In [11]:
# # replace anything that is not a letter, number, whitespace or a single quote. 
# string = re.sub(r"[^a-z0-9'\s]", '', string)
# # remove '\n' from string
# string = string.replace('\n', '')
# string

In [12]:
def basic_clean(string):
    '''
    Description:
    -----------
    This function takes a string and normalizes it by:
        making all text lowercase,
        removing special characters,
        removing characters that are not alphanumeric, whitespace, or a single quote, and
        removing the new line '\n' indicator.
    
    Parameters:
    ----------
    string: str
        String to be normalized.
        
    Example:
    -------
    Use in list comprehension with a pandas series
        list_of_strings = ([basic_clean(string) for string in pd.Series])
    '''
    # lowercase all text
    string = string.lower()
    # normalize text by removing special characters 
    string = unicodedata.normalize('NFKD', string)\
        .encode('ascii', 'ignore')\
        .decode('utf-8', 'ignore')
    # replace anything that is not a letter, number, whitespace or a single quote. 
    string = re.sub(r"[^a-z0-9'\s]", '', string)
    # remove '\n' from string
    string = re.sub(r'([\n])+', ' ', string)
    
    return string

In [13]:
string = basic_clean(string)
string

'in our blog the best path to a career in software development we looked at how bootcamps provide a more direct path to a career than traditional undergraduate cs degree programs today were here to talk to you about how bootcamps provide a more direct path to a career in data science than a masters degree  but dont i need a degree to get a job as a data scientist as a nontraditional educational model we hear this concern a lot the answer is yes and no yes because most jobs in data science require some form of higher education no because that degree doesnt have to be in something related to data science  data scientists have degrees in many different areas of study so if the concern that lacking a piece of paper will prevent you from accelerating your career fear no more while a masters degree provides a lot of value it isnt the most direct path for a job with the exponential growth in data generation and the race to keep up with storing and processing that data data science no longer sits at the fringe of an ultraspecialized workforce companies now need much larger teams to analyze model and leverage the data theyve collected so while the field of data science might have once only been available to those skilled in highly academic algorithm development its now a playground for those with some python skills who know how to find valuable insights in a mess of data    now lets get a bit more specific if modern roles in data science demand more practical skills why is a bootcamp a better path   1 responsive curriculum barely 10 years ago nobody had heard of data science but in that short amount of time the tools and technologies in the field have grown exponentially each year sees the introduction of new packages visualization tools and cutting edge technologies with such a rapidly evolving landscape its hard for traditional learning environments to keep pace with our ears tuned directly to employers were able to adapt quickly and ensure were teaching what hiring managers need   2 handson projectbased learning have you ever watched top chef or the great british bake off you were probably pretty entertained but how did that seared ahi tuna with orange mint avocado salsa and balsamic vinegar reduced amusebouche turn out the sad reality is watching experts do their thing doesnt make you an expert nor does listening to lectures our program is built around the concept of praxis which is essentially the practical application of theory or the blending of theory and practice half of your 670 program hours are spent actually writing code so you develop the muscle memory and experience of programming a career in data science is like an oldtime trade like becoming a blacksmith you have to learn from masters and practice practice practice    3 progressive curriculum structure in a traditional degree students study by taking several classes at a time you may begin with data structures and algorithms then move to sql then take python and so on but realworld data science doesnt work so neatly you will never face a project where youre only working with one of those tools so this pedagogical method is misaligned with career demands our program focuses on realworld deliverables at every step of the journey while exposing you to increasingly complex problems and projects you start off applying basic tools to simple challenges then we begin varying the data sets the way you access that data the type of methodology you use and the deliverable youre responsible for to put it simply the structure of a traditional degree teaches you how to use a hammer a saw and a chisel codeup teaches you how to build a stool a birdbox and a sculpture with those tools and when to use which    4 job placement services if education is your goal stop reading now if a career is your goal then youre in the right place most graduate institutions have career service offices where you can get advice on your resume and attend job fairs but codeup makes you a promise get a job after graduation or get 100 of your money back there are no two ways about that our singular focus is your outcome unlike traditional institutions we sell jobs not education    5 messy data this is probably the most important difference between us and traditional degrees we use real messy misleading broken data so you learn how to draw insights from the real thing unfortunately that is not the norm because of the segmented class structure traditional degrees have to focus on using data that teach one specific skill at codeup youre always applying your tools to a real deliverable so were able to use real data sets that intersect the challenges of multiple skills    lastly we encourage you to think about the return on your investment in your education codeup private masters 29500 6 months 85 graduation rate 88  employment rate 67500 median starting salary 62280 1824 months 61 graduation rate 725 employment rate 59866 median starting salary read more on our outcomes   most importantly the opportunity cost of pursuing a masters degree is equal to 1319 months of employment at a median salary of 67500 from codeup thats between 67500101250 in foregone earnings  so you want a career in data science a career accelerator like codeup is the path for you still not convinced were here to hear your concerns  contact us and lets talk it through '

In [14]:
list_of_blogs = [basic_clean(string) for string in df.body]

# 2. Define a function named ```tokenize```. It should take in a string and tokenize all the words in the string.

In [15]:
# Create the tokenizer
tokenizer = nltk.tokenize.ToktokTokenizer()

# Use the tokenizer
string = tokenizer.tokenize(string, return_str = True)

In [16]:
string

'in our blog the best path to a career in software development we looked at how bootcamps provide a more direct path to a career than traditional undergraduate cs degree programs today were here to talk to you about how bootcamps provide a more direct path to a career in data science than a masters degree but dont i need a degree to get a job as a data scientist as a nontraditional educational model we hear this concern a lot the answer is yes and no yes because most jobs in data science require some form of higher education no because that degree doesnt have to be in something related to data science data scientists have degrees in many different areas of study so if the concern that lacking a piece of paper will prevent you from accelerating your career fear no more while a masters degree provides a lot of value it isnt the most direct path for a job with the exponential growth in data generation and the race to keep up with storing and processing that data data science no longer sits at the fringe of an ultraspecialized workforce companies now need much larger teams to analyze model and leverage the data theyve collected so while the field of data science might have once only been available to those skilled in highly academic algorithm development its now a playground for those with some python skills who know how to find valuable insights in a mess of data now lets get a bit more specific if modern roles in data science demand more practical skills why is a bootcamp a better path 1 responsive curriculum barely 10 years ago nobody had heard of data science but in that short amount of time the tools and technologies in the field have grown exponentially each year sees the introduction of new packages visualization tools and cutting edge technologies with such a rapidly evolving landscape its hard for traditional learning environments to keep pace with our ears tuned directly to employers were able to adapt quickly and ensure were teaching what hiring managers need 2 handson projectbased learning have you ever watched top chef or the great british bake off you were probably pretty entertained but how did that seared ahi tuna with orange mint avocado salsa and balsamic vinegar reduced amusebouche turn out the sad reality is watching experts do their thing doesnt make you an expert nor does listening to lectures our program is built around the concept of praxis which is essentially the practical application of theory or the blending of theory and practice half of your 670 program hours are spent actually writing code so you develop the muscle memory and experience of programming a career in data science is like an oldtime trade like becoming a blacksmith you have to learn from masters and practice practice practice 3 progressive curriculum structure in a traditional degree students study by taking several classes at a time you may begin with data structures and algorithms then move to sql then take python and so on but realworld data science doesnt work so neatly you will never face a project where youre only working with one of those tools so this pedagogical method is misaligned with career demands our program focuses on realworld deliverables at every step of the journey while exposing you to increasingly complex problems and projects you start off applying basic tools to simple challenges then we begin varying the data sets the way you access that data the type of methodology you use and the deliverable youre responsible for to put it simply the structure of a traditional degree teaches you how to use a hammer a saw and a chisel codeup teaches you how to build a stool a birdbox and a sculpture with those tools and when to use which 4 job placement services if education is your goal stop reading now if a career is your goal then youre in the right place most graduate institutions have career service offices where you can get advice on your resume and attend job fairs but codeup makes you a promise get a job after graduation or get 100 of your money back there are no two ways about that our singular focus is your outcome unlike traditional institutions we sell jobs not education 5 messy data this is probably the most important difference between us and traditional degrees we use real messy misleading broken data so you learn how to draw insights from the real thing unfortunately that is not the norm because of the segmented class structure traditional degrees have to focus on using data that teach one specific skill at codeup youre always applying your tools to a real deliverable so were able to use real data sets that intersect the challenges of multiple skills lastly we encourage you to think about the return on your investment in your education codeup private masters 29500 6 months 85 graduation rate 88 employment rate 67500 median starting salary 62280 1824 months 61 graduation rate 725 employment rate 59866 median starting salary read more on our outcomes most importantly the opportunity cost of pursuing a masters degree is equal to 1319 months of employment at a median salary of 67500 from codeup thats between 67500101250 in foregone earnings so you want a career in data science a career accelerator like codeup is the path for you still not convinced were here to hear your concerns contact us and lets talk it through'

In [17]:
def tokenize(string):
    '''
    Description:
    -----------
    This function tokenizes a string.
    
    Parameters:
    ----------
    string: str
        String to be tokenized.
        
    Example:
    -------
    Use in list comprehension with a pandas series
        list_of_strings = ([tokenize(string) for string in pd.Series])    
    '''
    
    # Create the tokenizer
    tokenizer = nltk.tokenize.ToktokTokenizer()

    # Use the tokenizer
    string = tokenizer.tokenize(string, return_str = True)
    
    return string

In [18]:
string2 = "letter 'o' 'o' with"

In [19]:
tokenize(string2)

"letter ' o ' ' o ' with"

# 3. Define a function named ```stem```. It should accept some text and return the text after applying stemming to all the words.

In [20]:
def stem(string):
    '''
    Description:
    -----------
    This function stems a string.
    
    Parameters:
    ----------
    string: str
        String to be stemmed.
        
    Example:
    -------
    Use in list comprehension with a pandas series
        list_of_strings = ([stem(string) for string in pd.Series]) 
    '''
    # Create porter stemmer.
    ps = nltk.porter.PorterStemmer()
    
    # Apply the stemmer to each word in our string
    stems = [ps.stem(word) for word in string.split()]
    
    # Join our lists of words into a string again
    stemmed_string = ' '.join(stems)
    
    return stemmed_string

In [21]:
stemmed_string = stem(string)
stemmed_string

'in our blog the best path to a career in softwar develop we look at how bootcamp provid a more direct path to a career than tradit undergradu cs degre program today were here to talk to you about how bootcamp provid a more direct path to a career in data scienc than a master degre but dont i need a degre to get a job as a data scientist as a nontradit educ model we hear thi concern a lot the answer is ye and no ye becaus most job in data scienc requir some form of higher educ no becaus that degre doesnt have to be in someth relat to data scienc data scientist have degre in mani differ area of studi so if the concern that lack a piec of paper will prevent you from acceler your career fear no more while a master degre provid a lot of valu it isnt the most direct path for a job with the exponenti growth in data gener and the race to keep up with store and process that data data scienc no longer sit at the fring of an ultraspeci workforc compani now need much larger team to analyz model and leverag the data theyv collect so while the field of data scienc might have onc onli been avail to those skill in highli academ algorithm develop it now a playground for those with some python skill who know how to find valuabl insight in a mess of data now let get a bit more specif if modern role in data scienc demand more practic skill whi is a bootcamp a better path 1 respons curriculum bare 10 year ago nobodi had heard of data scienc but in that short amount of time the tool and technolog in the field have grown exponenti each year see the introduct of new packag visual tool and cut edg technolog with such a rapidli evolv landscap it hard for tradit learn environ to keep pace with our ear tune directli to employ were abl to adapt quickli and ensur were teach what hire manag need 2 handson projectbas learn have you ever watch top chef or the great british bake off you were probabl pretti entertain but how did that sear ahi tuna with orang mint avocado salsa and balsam vinegar reduc amusebouch turn out the sad realiti is watch expert do their thing doesnt make you an expert nor doe listen to lectur our program is built around the concept of praxi which is essenti the practic applic of theori or the blend of theori and practic half of your 670 program hour are spent actual write code so you develop the muscl memori and experi of program a career in data scienc is like an oldtim trade like becom a blacksmith you have to learn from master and practic practic practic 3 progress curriculum structur in a tradit degre student studi by take sever class at a time you may begin with data structur and algorithm then move to sql then take python and so on but realworld data scienc doesnt work so neatli you will never face a project where your onli work with one of those tool so thi pedagog method is misalign with career demand our program focus on realworld deliver at everi step of the journey while expos you to increasingli complex problem and project you start off appli basic tool to simpl challeng then we begin vari the data set the way you access that data the type of methodolog you use and the deliver your respons for to put it simpli the structur of a tradit degre teach you how to use a hammer a saw and a chisel codeup teach you how to build a stool a birdbox and a sculptur with those tool and when to use which 4 job placement servic if educ is your goal stop read now if a career is your goal then your in the right place most graduat institut have career servic offic where you can get advic on your resum and attend job fair but codeup make you a promis get a job after graduat or get 100 of your money back there are no two way about that our singular focu is your outcom unlik tradit institut we sell job not educ 5 messi data thi is probabl the most import differ between us and tradit degre we use real messi mislead broken data so you learn how to draw insight from the real thing unfortun that is not the norm becaus of the segment class structur tradit degre have to focu on use data that teach one specif skill at codeup your alway appli your tool to a real deliver so were abl to use real data set that intersect the challeng of multipl skill lastli we encourag you to think about the return on your invest in your educ codeup privat master 29500 6 month 85 graduat rate 88 employ rate 67500 median start salari 62280 1824 month 61 graduat rate 725 employ rate 59866 median start salari read more on our outcom most importantli the opportun cost of pursu a master degre is equal to 1319 month of employ at a median salari of 67500 from codeup that between 67500101250 in foregon earn so you want a career in data scienc a career acceler like codeup is the path for you still not convinc were here to hear your concern contact us and let talk it through'

# 4. Define a function named ```lemmatize```. It should accept some text and return the text after applying lemmatization to each word.

In [22]:
def lemmatize(string):
    '''
    Description:
    -----------
    This function stems a string.
    
    Parameters:
    ----------
    string: str
        String to be lemmatized.
        
    Example:
    -------
    Use in list comprehension with a pandas series
        list_of_strings = ([lemmatize(string) for string in pd.Series]) 
    '''
    # Create the Lemmatizer.
    wnl = nltk.stem.WordNetLemmatizer()
    
    # Use the lemmatizer on each word in the list of words we created by using split.
    lemmas = [wnl.lemmatize(word) for word in string.split()]
    
    # Join our list of words into a string again; assign to a variable to save changes.
    lemmatized_string = ' '.join(lemmas)
    
    return lemmatized_string

In [23]:
lemmatized_string = lemmatize(string)
lemmatized_string

'in our blog the best path to a career in software development we looked at how bootcamps provide a more direct path to a career than traditional undergraduate c degree program today were here to talk to you about how bootcamps provide a more direct path to a career in data science than a master degree but dont i need a degree to get a job a a data scientist a a nontraditional educational model we hear this concern a lot the answer is yes and no yes because most job in data science require some form of higher education no because that degree doesnt have to be in something related to data science data scientist have degree in many different area of study so if the concern that lacking a piece of paper will prevent you from accelerating your career fear no more while a master degree provides a lot of value it isnt the most direct path for a job with the exponential growth in data generation and the race to keep up with storing and processing that data data science no longer sits at the fringe of an ultraspecialized workforce company now need much larger team to analyze model and leverage the data theyve collected so while the field of data science might have once only been available to those skilled in highly academic algorithm development it now a playground for those with some python skill who know how to find valuable insight in a mess of data now let get a bit more specific if modern role in data science demand more practical skill why is a bootcamp a better path 1 responsive curriculum barely 10 year ago nobody had heard of data science but in that short amount of time the tool and technology in the field have grown exponentially each year see the introduction of new package visualization tool and cutting edge technology with such a rapidly evolving landscape it hard for traditional learning environment to keep pace with our ear tuned directly to employer were able to adapt quickly and ensure were teaching what hiring manager need 2 handson projectbased learning have you ever watched top chef or the great british bake off you were probably pretty entertained but how did that seared ahi tuna with orange mint avocado salsa and balsamic vinegar reduced amusebouche turn out the sad reality is watching expert do their thing doesnt make you an expert nor doe listening to lecture our program is built around the concept of praxis which is essentially the practical application of theory or the blending of theory and practice half of your 670 program hour are spent actually writing code so you develop the muscle memory and experience of programming a career in data science is like an oldtime trade like becoming a blacksmith you have to learn from master and practice practice practice 3 progressive curriculum structure in a traditional degree student study by taking several class at a time you may begin with data structure and algorithm then move to sql then take python and so on but realworld data science doesnt work so neatly you will never face a project where youre only working with one of those tool so this pedagogical method is misaligned with career demand our program focus on realworld deliverable at every step of the journey while exposing you to increasingly complex problem and project you start off applying basic tool to simple challenge then we begin varying the data set the way you access that data the type of methodology you use and the deliverable youre responsible for to put it simply the structure of a traditional degree teach you how to use a hammer a saw and a chisel codeup teach you how to build a stool a birdbox and a sculpture with those tool and when to use which 4 job placement service if education is your goal stop reading now if a career is your goal then youre in the right place most graduate institution have career service office where you can get advice on your resume and attend job fair but codeup make you a promise get a job after graduation or get 100 of your money back there are no two way about that our singular focus is your outcome unlike traditional institution we sell job not education 5 messy data this is probably the most important difference between u and traditional degree we use real messy misleading broken data so you learn how to draw insight from the real thing unfortunately that is not the norm because of the segmented class structure traditional degree have to focus on using data that teach one specific skill at codeup youre always applying your tool to a real deliverable so were able to use real data set that intersect the challenge of multiple skill lastly we encourage you to think about the return on your investment in your education codeup private master 29500 6 month 85 graduation rate 88 employment rate 67500 median starting salary 62280 1824 month 61 graduation rate 725 employment rate 59866 median starting salary read more on our outcome most importantly the opportunity cost of pursuing a master degree is equal to 1319 month of employment at a median salary of 67500 from codeup thats between 67500101250 in foregone earnings so you want a career in data science a career accelerator like codeup is the path for you still not convinced were here to hear your concern contact u and let talk it through'

# 5. Define a function named ```remove_stopwords```. It should accept some text and return the text after removing all the stopwords.

# This function should define two optional parameters, ```extra_words``` and ```exclude_words```. These parameters should define any additional stop words to include, and any words that we don't want to remove

In [24]:
stopword_list = stopwords.words('english')
stopword_list

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [25]:
def remove_stopwords(string, extra_words=None, exclude_words=None):
    '''
    Description:
    -----------
    This function removes stopwrods from a string.
    
    Parameters:
    ----------
    string: str
        String to have stopwords removed.
    extra_words: str or list
        default=None, list of words that you would like to be added to the stopwords list
    exclude_words: str or list 
        default=None, list of words that you would like to remove from the stopwords list
        
    Example:
    -------
    Use in list comprehension with a pandas series
        list_of_strings = ([stem(string) for string in pd.Series]) 
    '''
    # creates a list of stopwords
    stopword_list = stopwords.words('english')
    # splits the string into a list of words
    words = string.split()
    
    # if extra_words is set to None don't change anything
    if extra_words == None:
        stopword_list = stopword_list
    # if extra_words is a list, append the individual words in the list
    elif type(extra_words) == list:
        for word in extra_words:
            stopword_list.append(word)
    # if extra_words is a string, append the individual word
    elif type(extra_words) == str:
        stopword_list.append(extra_words)
    # somethings wrong text
    else:
        print('extra_words should be a string or a list')
    
    
    # if exclude_words is set to None don't change anything
    if exclude_words == None:
        stopword_list = stopword_list
    # if exclude_words is a list, append the individual words in the list
    elif type(exclude_words) == list:
        for word in exclude_words:
            stopword_list.remove(word)
    # if exclude_words is a string, append the individual word
    elif type(exclude_words) == str:
        stopword_list.remove(exclude_words)
    # something's wrong text
    else:
        print('exclude_words should be a list')
    
    # filters out stopwords from string
    filtered_words = [word for word in words if word not in stopword_list]
    # rejoins the string 
    string_without_stopwords = ' '.join(filtered_words)
    
    
    return string_without_stopwords

In [66]:
string = clean_and_toke(string)

In [67]:
extra_words = ['blog', 'best', 'path' ,'career', 'software', 'development']
exclude_words = ['in','our']

In [68]:
string_without_stopwords = remove_stopwords(string)
string_without_stopwords

'blog best path career software development looked bootcamps provide direct path career traditional undergraduate cs degree programs today talk bootcamps provide direct path career data science masters degree dont need degree get job data scientist nontraditional educational model hear concern lot answer yes yes jobs data science require form higher education degree doesnt something related data science data scientists degrees many different areas study concern lacking piece paper prevent accelerating career fear masters degree provides lot value isnt direct path job exponential growth data generation race keep storing processing data data science longer sits fringe ultraspecialized workforce companies need much larger teams analyze model leverage data theyve collected field data science might available skilled highly academic algorithm development playground python skills know find valuable insights mess data lets get bit specific modern roles data science demand practical skills bootcamp better path 1 responsive curriculum barely 10 years ago nobody heard data science short amount time tools technologies field grown exponentially year sees introduction new packages visualization tools cutting edge technologies rapidly evolving landscape hard traditional learning environments keep pace ears tuned directly employers able adapt quickly ensure teaching hiring managers need 2 handson projectbased learning ever watched top chef great british bake probably pretty entertained seared ahi tuna orange mint avocado salsa balsamic vinegar reduced amusebouche turn sad reality watching experts thing doesnt make expert listening lectures program built around concept praxis essentially practical application theory blending theory practice half 670 program hours spent actually writing code develop muscle memory experience programming career data science like oldtime trade like becoming blacksmith learn masters practice practice practice 3 progressive curriculum structure traditional degree students study taking several classes time may begin data structures algorithms move sql take python realworld data science doesnt work neatly never face project youre working one tools pedagogical method misaligned career demands program focuses realworld deliverables every step journey exposing increasingly complex problems projects start applying basic tools simple challenges begin varying data sets way access data type methodology use deliverable youre responsible put simply structure traditional degree teaches use hammer saw chisel codeup teaches build stool birdbox sculpture tools use 4 job placement services education goal stop reading career goal youre right place graduate institutions career service offices get advice resume attend job fairs codeup makes promise get job graduation get 100 money back two ways singular focus outcome unlike traditional institutions sell jobs education 5 messy data probably important difference us traditional degrees use real messy misleading broken data learn draw insights real thing unfortunately norm segmented class structure traditional degrees focus using data teach one specific skill codeup youre always applying tools real deliverable able use real data sets intersect challenges multiple skills lastly encourage think return investment education codeup private masters 29500 6 months 85 graduation rate 88 employment rate 67500 median starting salary 62280 1824 months 61 graduation rate 725 employment rate 59866 median starting salary read outcomes importantly opportunity cost pursuing masters degree equal 1319 months employment median salary 67500 codeup thats 67500101250 foregone earnings want career data science career accelerator like codeup path still convinced hear concerns contact us lets talk'

In [69]:
remove_stopwords(string, extra_words, exclude_words)

'in our in looked bootcamps provide direct traditional undergraduate cs degree programs today talk bootcamps provide direct in data science masters degree dont need degree get job data scientist nontraditional educational model hear concern lot answer yes yes jobs in data science require form higher education degree doesnt in something related data science data scientists degrees in many different areas study concern lacking piece paper prevent accelerating fear masters degree provides lot value isnt direct job exponential growth in data generation race keep storing processing data data science longer sits fringe ultraspecialized workforce companies need much larger teams analyze model leverage data theyve collected field data science might available skilled in highly academic algorithm playground python skills know find valuable insights in mess data lets get bit specific modern roles in data science demand practical skills bootcamp better 1 responsive curriculum barely 10 years ago nobody heard data science in short amount time tools technologies in field grown exponentially year sees introduction new packages visualization tools cutting edge technologies rapidly evolving landscape hard traditional learning environments keep pace our ears tuned directly employers able adapt quickly ensure teaching hiring managers need 2 handson projectbased learning ever watched top chef great british bake probably pretty entertained seared ahi tuna orange mint avocado salsa balsamic vinegar reduced amusebouche turn sad reality watching experts thing doesnt make expert listening lectures our program built around concept praxis essentially practical application theory blending theory practice half 670 program hours spent actually writing code develop muscle memory experience programming in data science like oldtime trade like becoming blacksmith learn masters practice practice practice 3 progressive curriculum structure in traditional degree students study taking several classes time may begin data structures algorithms move sql take python realworld data science doesnt work neatly never face project youre working one tools pedagogical method misaligned demands our program focuses realworld deliverables every step journey exposing increasingly complex problems projects start applying basic tools simple challenges begin varying data sets way access data type methodology use deliverable youre responsible put simply structure traditional degree teaches use hammer saw chisel codeup teaches build stool birdbox sculpture tools use 4 job placement services education goal stop reading goal youre in right place graduate institutions service offices get advice resume attend job fairs codeup makes promise get job graduation get 100 money back two ways our singular focus outcome unlike traditional institutions sell jobs education 5 messy data probably important difference us traditional degrees use real messy misleading broken data learn draw insights real thing unfortunately norm segmented class structure traditional degrees focus using data teach one specific skill codeup youre always applying tools real deliverable able use real data sets intersect challenges multiple skills lastly encourage think return investment in education codeup private masters 29500 6 months 85 graduation rate 88 employment rate 67500 median starting salary 62280 1824 months 61 graduation rate 725 employment rate 59866 median starting salary read our outcomes importantly opportunity cost pursuing masters degree equal 1319 months employment median salary 67500 codeup thats 67500101250 in foregone earnings want in data science accelerator like codeup still convinced hear concerns contact us lets talk'

In [70]:
remove_stopwords(string, extra_words='blog', exclude_words='our')

'our best path career software development looked bootcamps provide direct path career traditional undergraduate cs degree programs today talk bootcamps provide direct path career data science masters degree dont need degree get job data scientist nontraditional educational model hear concern lot answer yes yes jobs data science require form higher education degree doesnt something related data science data scientists degrees many different areas study concern lacking piece paper prevent accelerating career fear masters degree provides lot value isnt direct path job exponential growth data generation race keep storing processing data data science longer sits fringe ultraspecialized workforce companies need much larger teams analyze model leverage data theyve collected field data science might available skilled highly academic algorithm development playground python skills know find valuable insights mess data lets get bit specific modern roles data science demand practical skills bootcamp better path 1 responsive curriculum barely 10 years ago nobody heard data science short amount time tools technologies field grown exponentially year sees introduction new packages visualization tools cutting edge technologies rapidly evolving landscape hard traditional learning environments keep pace our ears tuned directly employers able adapt quickly ensure teaching hiring managers need 2 handson projectbased learning ever watched top chef great british bake probably pretty entertained seared ahi tuna orange mint avocado salsa balsamic vinegar reduced amusebouche turn sad reality watching experts thing doesnt make expert listening lectures our program built around concept praxis essentially practical application theory blending theory practice half 670 program hours spent actually writing code develop muscle memory experience programming career data science like oldtime trade like becoming blacksmith learn masters practice practice practice 3 progressive curriculum structure traditional degree students study taking several classes time may begin data structures algorithms move sql take python realworld data science doesnt work neatly never face project youre working one tools pedagogical method misaligned career demands our program focuses realworld deliverables every step journey exposing increasingly complex problems projects start applying basic tools simple challenges begin varying data sets way access data type methodology use deliverable youre responsible put simply structure traditional degree teaches use hammer saw chisel codeup teaches build stool birdbox sculpture tools use 4 job placement services education goal stop reading career goal youre right place graduate institutions career service offices get advice resume attend job fairs codeup makes promise get job graduation get 100 money back two ways our singular focus outcome unlike traditional institutions sell jobs education 5 messy data probably important difference us traditional degrees use real messy misleading broken data learn draw insights real thing unfortunately norm segmented class structure traditional degrees focus using data teach one specific skill codeup youre always applying tools real deliverable able use real data sets intersect challenges multiple skills lastly encourage think return investment education codeup private masters 29500 6 months 85 graduation rate 88 employment rate 67500 median starting salary 62280 1824 months 61 graduation rate 725 employment rate 59866 median starting salary read our outcomes importantly opportunity cost pursuing masters degree equal 1319 months employment median salary 67500 codeup thats 67500101250 foregone earnings want career data science career accelerator like codeup path still convinced hear concerns contact us lets talk'

# 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe ```news_df```

# 7. Make another dataframe for the Codeup blog posts. Name the dataframe ```codeup_df```.

In [30]:
categories = ['india',
'business',
'sports',
'world',
'politics',
'technology',
'startup',
'entertainment',
'miscellaneous',
'hatke',
'science',
'automobile']

In [31]:
news_df = a.get_inshorts_articles(categories)

/Users/matthewdalton/codeup-data-science/natural-language-processing-exercises/acquire.py:128: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 128 of the file /Users/matthewdalton/codeup-data-science/natural-language-processing-exercises/acquire.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = bs4.BeautifulSoup(html)

In [32]:
news_df.shape

(281, 5)

In [33]:
news_df.head()

,title,body,author,date_modified,time_modified
0,"Samsung launches Galaxy Star 2 Plus at Rs.7,335",Samsung has unveiled the Galaxy start 2 Plus s...,Sumedha Sehra,"29 Jul 2014,Tuesday",06:52 pm
1,Bharti Airtel rakes in 61% profit,"Bharti Airtel, India's top telecommunications ...",Sumedha Sehra,"29 Jul 2014,Tuesday",06:53 pm
2,Infosys Gifts Sikka Shares Worth Rs 8.2cr,"In a regulatory filing to the BSE on Friday, I...",Tanya Mathur,"24 Aug 2014,Sunday",10:55 pm
3,"Afghanistan wins SAFF title, spoils India's ha...",Afghanistan won their maiden-SAFF Football Cha...,Amit Kunal,"12 Sep 2013,Thursday",01:42 pm
4,Kashmir's famous Dal Lake freezes,After the recent snowfall in upper reaches of ...,Sunny Setia,"16 Dec 2013,Monday",01:10 am

In [34]:
codeup_df = pd.read_csv('codeup_blogs.csv').drop(columns='Unnamed: 0')

In [35]:
codeup_df.rename(columns={'body': 'original'}, inplace=True)

# 8. For each dataframe, produce the following columns:

### - ```title``` to hold the title
### - ```original``` to hold the original article/post content
### - ```clean``` to hold the normalized and tokenized original with the stopwords removed.
### - ```stemmed``` to hold the stemmed version of the cleaned data.
### - ```lemmatized``` to hold the lemmatized version of the cleaned data.

In [36]:
codeup_df['clean'] = pd.Series([basic_clean(string) for string in codeup_df.original])

In [37]:
codeup_df.head()

,title,original,clean
0,The Best Path to a Career in Data Science,"In our blog, “The Best Path To A Career In Sof...",in our blog the best path to a career in softw...
1,"Hey Dallas, Meet Your Software Development Men...","We may be new to town here in Dallas, but Code...",we may be new to town here in dallas but codeu...
2,5 Tools Every Programmer Should Use,5 Tools Every Programmer Should Use\nEvery tra...,5 tools every programmer should use every trad...
3,How I Went From Codeup to Business Owner,"Out of college, I was a bit of a mess. That’s ...",out of college i was a bit of a mess thats wha...
4,How Codeup Paid Off for Both Employee and Empl...,"After graduating from Codeup in 2016, Stan H. ...",after graduating from codeup in 2016 stan h wa...

In [38]:
codeup_df['clean'] = pd.Series([tokenize(string) for string in codeup_df.clean])

In [39]:
codeup_df.head()

,title,original,clean
0,The Best Path to a Career in Data Science,"In our blog, “The Best Path To A Career In Sof...",in our blog the best path to a career in softw...
1,"Hey Dallas, Meet Your Software Development Men...","We may be new to town here in Dallas, but Code...",we may be new to town here in dallas but codeu...
2,5 Tools Every Programmer Should Use,5 Tools Every Programmer Should Use\nEvery tra...,5 tools every programmer should use every trad...
3,How I Went From Codeup to Business Owner,"Out of college, I was a bit of a mess. That’s ...",out of college i was a bit of a mess thats wha...
4,How Codeup Paid Off for Both Employee and Empl...,"After graduating from Codeup in 2016, Stan H. ...",after graduating from codeup in 2016 stan h wa...

In [40]:
codeup_df['stemmed'] = pd.Series([stem(string) for string in codeup_df.clean])

In [41]:
codeup_df['lemmatized'] = pd.Series([lemmatize(string) for string in codeup_df.clean])

In [42]:
codeup_df.head()

,title,original,clean,stemmed,lemmatized
0,The Best Path to a Career in Data Science,"In our blog, “The Best Path To A Career In Sof...",in our blog the best path to a career in softw...,in our blog the best path to a career in softw...,in our blog the best path to a career in softw...
1,"Hey Dallas, Meet Your Software Development Men...","We may be new to town here in Dallas, but Code...",we may be new to town here in dallas but codeu...,we may be new to town here in dalla but codeup...,we may be new to town here in dallas but codeu...
2,5 Tools Every Programmer Should Use,5 Tools Every Programmer Should Use\nEvery tra...,5 tools every programmer should use every trad...,5 tool everi programm should use everi trade h...,5 tool every programmer should use every trade...
3,How I Went From Codeup to Business Owner,"Out of college, I was a bit of a mess. That’s ...",out of college i was a bit of a mess thats wha...,out of colleg i wa a bit of a mess that what i...,out of college i wa a bit of a mess thats what...
4,How Codeup Paid Off for Both Employee and Empl...,"After graduating from Codeup in 2016, Stan H. ...",after graduating from codeup in 2016 stan h wa...,after graduat from codeup in 2016 stan h wa hi...,after graduating from codeup in 2016 stan h wa...

In [43]:
codeup_df['stemmed_stop'] = pd.Series([remove_stopwords(string) for string in codeup_df.stemmed])

In [44]:
codeup_df['lemmatized_stop'] = pd.Series([remove_stopwords(string) for string in codeup_df.lemmatized])

In [45]:
codeup_df.head()

,title,original,clean,stemmed,lemmatized,stemmed_stop,lemmatized_stop
0,The Best Path to a Career in Data Science,"In our blog, “The Best Path To A Career In Sof...",in our blog the best path to a career in softw...,in our blog the best path to a career in softw...,in our blog the best path to a career in softw...,blog best path career softwar develop look boo...,blog best path career software development loo...
1,"Hey Dallas, Meet Your Software Development Men...","We may be new to town here in Dallas, but Code...",we may be new to town here in dallas but codeu...,we may be new to town here in dalla but codeup...,we may be new to town here in dallas but codeu...,may new town dalla codeup ha long histori trai...,may new town dallas codeup ha long history tra...
2,5 Tools Every Programmer Should Use,5 Tools Every Programmer Should Use\nEvery tra...,5 tools every programmer should use every trad...,5 tool everi programm should use everi trade h...,5 tool every programmer should use every trade...,5 tool everi programm use everi trade ha tool ...,5 tool every programmer use every trade ha too...
3,How I Went From Codeup to Business Owner,"Out of college, I was a bit of a mess. That’s ...",out of college i was a bit of a mess thats wha...,out of colleg i wa a bit of a mess that what i...,out of college i wa a bit of a mess thats what...,colleg wa bit mess would told anyway surfac wa...,college wa bit mess thats would told anyway su...
4,How Codeup Paid Off for Both Employee and Empl...,"After graduating from Codeup in 2016, Stan H. ...",after graduating from codeup in 2016 stan h wa...,after graduat from codeup in 2016 stan h wa hi...,after graduating from codeup in 2016 stan h wa...,graduat codeup 2016 stan h wa hire digit media...,graduating codeup 2016 stan h wa hired digital...

In [46]:
def clean_stem_stop(string):
    return remove_stopwords(stem(tokenize(basic_clean(string))))

In [53]:
clean_stem_stop(string) == codeup_df.stemmed_stop[0]

True

In [50]:
def clean_lem_stop(string):
    return remove_stopwords(lemmatize(tokenize(basic_clean(string))))

In [56]:
clean_lem_stop(string) == codeup_df.lemmatized_stop[0]

True

In [57]:
def clean_and_toke(string):
    '''
    Desciption:
    ----------
    This is a one stop function that takes a string and does the following:
    cleans: 
        normalizes it by:
        making all text lowercase,
        removing special characters,
        removing characters that are not alphanumeric, whitespace, or a single quote, and
        removing the new line '\n' indicator
    and tokenizes. 
    '''
    return tokenize(basic_clean(string))

In [58]:
news_df.head()

,title,body,author,date_modified,time_modified
0,"Samsung launches Galaxy Star 2 Plus at Rs.7,335",Samsung has unveiled the Galaxy start 2 Plus s...,Sumedha Sehra,"29 Jul 2014,Tuesday",06:52 pm
1,Bharti Airtel rakes in 61% profit,"Bharti Airtel, India's top telecommunications ...",Sumedha Sehra,"29 Jul 2014,Tuesday",06:53 pm
2,Infosys Gifts Sikka Shares Worth Rs 8.2cr,"In a regulatory filing to the BSE on Friday, I...",Tanya Mathur,"24 Aug 2014,Sunday",10:55 pm
3,"Afghanistan wins SAFF title, spoils India's ha...",Afghanistan won their maiden-SAFF Football Cha...,Amit Kunal,"12 Sep 2013,Thursday",01:42 pm
4,Kashmir's famous Dal Lake freezes,After the recent snowfall in upper reaches of ...,Sunny Setia,"16 Dec 2013,Monday",01:10 am

In [59]:
news_df.rename(columns={'body': 'original'}, inplace=True)

In [60]:
news_df['clean'] = pd.Series([clean_and_toke(string) for string in news_df.original])

In [62]:
news_df['stemmed'] = pd.Series([clean_stem_stop(string) for string in news_df.original])

In [63]:
news_df['lemmatized'] = pd.Series([clean_lem_stop(string) for string in news_df.original])

In [64]:
news_df.head()

,title,original,author,date_modified,time_modified,clean,stemmed,lemmatized
0,"Samsung launches Galaxy Star 2 Plus at Rs.7,335",Samsung has unveiled the Galaxy start 2 Plus s...,Sumedha Sehra,"29 Jul 2014,Tuesday",06:52 pm,samsung has unveiled the galaxy start 2 plus s...,samsung ha unveil galaxi start 2 plu smartphon...,samsung ha unveiled galaxy start 2 plus smartp...
1,Bharti Airtel rakes in 61% profit,"Bharti Airtel, India's top telecommunications ...",Sumedha Sehra,"29 Jul 2014,Tuesday",06:53 pm,bharti airtel india ' s top telecommunications...,bharti airtel india ' top telecommun compani h...,bharti airtel india ' top telecommunication co...
2,Infosys Gifts Sikka Shares Worth Rs 8.2cr,"In a regulatory filing to the BSE on Friday, I...",Tanya Mathur,"24 Aug 2014,Sunday",10:55 pm,in a regulatory filing to the bse on friday in...,regulatori file bse friday infosi ltd decid gi...,regulatory filing bse friday infosys ltd decid...
3,"Afghanistan wins SAFF title, spoils India's ha...",Afghanistan won their maiden-SAFF Football Cha...,Amit Kunal,"12 Sep 2013,Thursday",01:42 pm,afghanistan won their maidensaff football cham...,afghanistan maidensaff footbal championship de...,afghanistan maidensaff football championship d...
4,Kashmir's famous Dal Lake freezes,After the recent snowfall in upper reaches of ...,Sunny Setia,"16 Dec 2013,Monday",01:10 am,after the recent snowfall in upper reaches of ...,recent snowfal upper reach kashmir himalayan p...,recent snowfall upper reach kashmir himalayan ...