In [1]:
import pandas as pd
import re

#### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(subject):
    '''
    Description:
    -----------
    The function accepts a string and finds if there is a vowel present
    
    Parameters:
    ----------
    subject: str
        The string to have regex set applied to it.
    '''
    # identifies the vowels in the alphabet
    regexp = r'^[aeiou]$'
    # looks for vowels in the string, subject
    if re.search(regexp, subject.lower()):
        print('I found a vowel!')
    else:
        print('No vowel here!')

In [3]:
is_vowel('ee')

No vowel here!

#### 2. Write a function named ```is_valid_username``` that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [4]:
# Testing regexp on various strings to use in function 

regexp = r'^[a-z]\w{1,31}$'
subject = 'dfoajnsd_dehgfhsfhsgfjdyhksdf12_4'

if re.search(regexp, subject):
    print('yup')
else:
    print('something is wrong')

something is wrong

In [5]:
len(subject)

33

In [6]:
subject[:32]

'dfoajnsd_dehgfhsfhsgfjdyhksdf12_'

In [7]:
def is_valid_username(username):
    '''
    Description:
    -----------
    Tests whether a username is valid:
    
    Parameters:
    ----------
    username: str
        This string must start with a lowercase,
        use only underscores and alphanumeric characters, and 
        not excede 32 characters total.
    '''
    # reg expression highlighing the way usernames should be formatted
    regexp = r'^[a-z]\w{1,31}$'
    
    # prints if username is valid or invalid
    if re.search(regexp, username):
        print('This is a valid username')
    else:
        print('Username is invalid')

In [8]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'),
is_valid_username('codeup'),
is_valid_username('Codeup'),
is_valid_username('codeup123'),
is_valid_username('1codeup')

Username is invalid
This is a valid username
Username is invalid
This is a valid username
Username is invalid

#### 3. Write a regular expression to capture phone numbers. It should match all of the following:

```
(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309
```

In [9]:
regexp = r'.*?\d{3}?.*?\d{3}.*\d{4}$'
subject = '(210) 867 5309'

re.match(regexp, subject)

#### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

```
02/04/19
02/05/19
02/06/19
02/07/19
02/08/19
02/09/19
02/10/19
```

In [10]:
dates = pd.Series(['02/04/19',
'02/05/19',
'02/06/19',
'02/07/19',
'02/08/19',
'02/09/19',
'02/10/19'])

In [11]:
regexp = r'(\d{2})/(\d{2})/(\d{2})'
subject = '02/04/19'

dates = dates.str.replace(regexp, r'20\3-\1-\2', regex=True)
dates

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

#### 5. Write a regex to extract the various parts of these logfile lines:

```
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58

POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58

GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
```

In [12]:
log_files = '''
'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58'
 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58'
 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'
'''
method = r'^[A-Z][A-Z]{2,4}'


regexp = r'(?P<method>[A-Z]+)\s(?P<path>.*?)\s\[(?P<date>.*?):(?P<time>.*?)\]\s(?P<http_version>HTTP.*)\s\{(?P<status>\d+)\}\s(?P<file_size_bytes>\d+)\s"(?P<user_agent>.*?)"\s(?P<ip>.*?)$'

In [13]:
re.findall(regexp, log_files)

[('GET',
  '/api/v1/items?page=3',
  '16/Apr/2019',
  '193453+0000',
  'HTTP/1.1',
  '429',
  '3561',
  'python-requests/2.21.0',
  "97.105.19.58'")]

#### - How many words contain the same letter 3 times in a row?

In [14]:
regexp = re.compile(regexp, re.VERBOSE)

In [15]:
lines = pd.Series(log_files.strip().split('\n'))
lines.str.extract(regexp)

,method,path,date,time,http_version,status,file_size_bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019,193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58'
1,POST,/users_accounts/file-upload,16/Apr/2019,193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58'
2,GET,/api/v1/items?page=3,16/Apr/2019,193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58'

#### Bonus: You can find a list of words on your mac at ```/usr/share/dict/words```. Use this file to answer the following questions:
```
- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?
```

In [16]:
words = pd.read_csv('/usr/share/dict/words')
words.sample(10)

                  A
234964       zagged
160232  purchasable
96370   interlucent
14146           ash
43012        cordyl
114623       mester
159641     puckball
26312    Brighteyes
120201    muckraker
232573  winebibbery

In [17]:
len(words)

235885

#### How many words have at least 3 vowels?

In [18]:
words = words.dropna()

In [19]:
regexp = r'.*[aeiou].*[aeiou].*[aeiou].*'
count = 0
for word in list(words['A']):
    if re.findall(regexp, word):
        count = count + 1
    else:
        count = count

print(f'The number of words with at least 3 vowels is: {count}')

The number of words with at least 3 vowels is: 190293

#### How many words have at least 3 vowels in a row?

In [20]:
regexp = r'.*[aeiou]{3,}.*'
subject = 'aaaa'

re.findall(regexp, subject)

['aaaa']

In [21]:
regexp = r'.*[aeiou]{3,}.*'
count = 0
for word in list(words['A']):
    if re.findall(regexp, word):
        count = count + 1
    else:
        count = count

print(f'The number of words with 3 consecutive vowels is: {count}')

The number of words with 3 consecutive vowels is: 6156

#### - How many words have at least 4 consonants in a row?

In [22]:
regexp = r'.*[^aeiou]{4,}.*'
count = 0
for word in list(words['A']):
    if re.findall(regexp, word):
        count = count + 1
    else:
        count = count

print(f'The number of words with 4 consecutive conconants is: {count}')

The number of words with 4 consecutive conconants is: 19743

#### - How many words start and end with the same letter?

In [23]:
regexp = r'(^[a-z]).*\1$'
subject = 'mamaam'

re.findall(regexp, subject)

['m']

In [24]:
regexp = r'(^[a-z]).*\1$'

count = 0
for word in list(words['A']):
    if re.findall(regexp, word):
        count = count + 1
    else:
        count = count

print(f'The number of words start and end with the same letter is: {count}')

The number of words start and end with the same letter is: 9916

#### - How many words start and end with a vowel?

In [25]:
regexp = r'(^[aeiou]).*[aeiou]$'

count = 0
for word in list(words['A']):
    if re.findall(regexp, word):
        count = count + 1
    else:
        count = count

print(f'The number of words start and end with a vowel is: {count}')

The number of words start and end with a vowel is: 12351

#### - How many words contain the same letter 3 times in a row?

In [26]:
regexp = r'.*([a-z])\1\1.*$'

count = 0
for word in list(words['A']):
    if re.findall(regexp, word):
        count = count + 1
    else:
        count = count

print(f'The number of words start and end with the same letter is: {count}')

The number of words start and end with the same letter is: 7

#### - What other interesting patterns in words can you find?

In [31]:

subject = 'alipila'

re.findall(regexp, subject)

['a']

In [35]:
regexp = r'^([a-z])\w+\1$'

count = 0
for word in list(words['A']):
    if re.findall(regexp, word):
        count = count + 1
    else:
        count = count

print(f'The number of palindrones is: {count}')

The number of palindrones is: 9915